*{
	margin:0;
	padding: 0;
}
/*主要内容的范围*/
#main2{
	height: 1400px;
	margin: 0 auto;
}
/*公司新闻,媒体报道,行业动态*/
.tabs{
	background:#b2b2b254;
	width: 100%;
	height: 50px;
}
.tabs>ul{
	height: 50px;
	margin: 0 auto;
	
}
.tabs li{
	float: left;
	list-style: none;
}

/*li中a标签 的样式*/
.tabs li a{
	line-height: 50px;
	text-align: center;
	width: 130px;
	height: 50px;
  	display:inline-block;
  	text-decoration:none;
  	color:#3a3939;
}

/*公司新闻,媒体报道,行业动态,伪类*/
.tabs li a:hover{
	color: #fff;
	background: #E8B916;
}
.ac{
	background: #E8B916;
	color: #fff !important;
}
/*点击那个新闻就显示那个内容*/
#container{
	position: relative;
}
#content1,#content2,#content3{
	position: absolute;
}
/*各个新闻的具体内容整个表单的大小*/
table{
	width: 800px;
	background: #fff;
}
/*表单每行的样式*/
table tr{
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}
/*第一列图片的框*/
table tr td div{
	width: 210px;
	border: 1px dashed #999;
	margin-bottom: 15px;
}
/*图片的大小,缩小*/
._img{
	width: 200px;
	padding: 5px 5px;
}
/*没个新闻主要内容的样式 */
table tr td:nth-child(2){
	padding: 10px;
	border-bottom:1px solid #bcbcbc;
}
/*每个样式 大标题的样式*/
table tr td:nth-child(2) a{
	display: block;
	text-decoration: none;
	color: #5db6e6;
	padding-bottom:7px;
	font-weight: bold;
}
/*大标题的伪类*/
table tr td:nth-child(2) a:hover{
	color: #E8B916;
}
/*日历*/
*::before,
*::after {
  box-sizing: border-box;
}
.calendar {
  position: relative;
  top: 450px;
  width: 152px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.calendar::before,
.calendar::after {
  content: '';
  position: absolute;
  top: -28px;
  left: 40px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #fff;
  z-index: 3;
}
.calendar::after {
  left: initial;
  right: 40px;
}
.pages {
  position: relative;
  text-align: center;
  background: #eee;
  box-shadow: 0 10px 0 0px #a5a4a4;
}
.pages::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 45px;
  background: #e8b916;
  bottom: 100%;
  left: 0;
  z-index: 2;
}
.page {
  position: relative;
  padding: 20px 30px 15px;
  background: #eee;
}
.page::before {
  content: '';
  position: absolute;
  bottom: 99%;
  left: 0;
  display: block;
  background: linear-gradient(-45deg, #eee 10px, #eee 10px, #eee 10px, transparent 0), linear-gradient(45deg, #eee 10px, transparent 0);
  background-position: left top;
  background-repeat: repeat-x;
  background-size: 10px 18px;
  height: 10px;
  width: 100%;
}
/*月样式*/
.month,
.day-name {
  text-transform: uppercase;
  font-weight: 600;
}
/*天,样式*/
.day {
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 15px;
  color: #e8b916;
}
/*年,样式*/
.year {
  font-size: 12px;
}
.tear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}
/*媒体查询   自适应*/
@media screen and (min-width:1250px){
	/*每个新闻的导航栏宽度*/
	.tabs>ul{
	width: 1000px;}
	/*旅行预约的位置分布*/
.right1{
	position: relative;
	left: 530px;
}
/*底部内容宽度*/
#main2{
	width: 1000px;}
	/*日历的位置*/
	.calendar {
  		left: 840px;}
}
@media screen and (max-width:1249px) and (min-width:997px){
	/*每个新闻的导航栏宽度*/
	.tabs>ul{
	width: 900px;}
	/*旅行预约*/
	/*旅行预约的位置分布*/
	.right1{
		position: absolute;
		left: 80%;
	}	
	/*table内容的宽度*/
	table{
	width: 760px;}
	/*底部内容宽度*/
	#main2{
		width:900px;
	}
	/*日历的位置*/
	.calendar {
  		left: 85%;}

}
@media screen and (max-width:996px){
	/*每个新闻的导航栏宽度*/
	.tabs>ul{
	width: 890px;}
	/*旅行预约的位置分布*/
	.right1{
		position: relative;
		left: 40%;
	}
	/*table内容的宽度*/
	table{
	width: 705px;}
	/*底部内容宽度*/
	#main2{
		width: 890px;
	}
	/*日历的位置*/
	.calendar {
  		left: 80%;}

}